<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset =" UTF-8">
    <title>types de données</title>
</head>
<body>
    <script>
        const nom = "alphonse";
        const ville="Lomé";
        const age=20;
        const note=15.6;
        const connecte =true;
        const admin = false;
        const notes = [12, 13, 14 ,15];
        const atudiant = { nom:"alphonse", age: 20 };
        const vide ="null";
        console.log(typeof nom);
        console.log(typeof age);
        console.log(typeof connecte);
        console.log(typeof notes);
        console.log(typeof vide);
        console.log(`nom: ${nom},age: ${age}`);
        console.log(`connecte: ${connecte}`);
        console.log(`notes: ${notes}`);
    </script>
</body>
</html>