<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>variable</title>

    </head>
    <body>
        <script>
      const nom ="alphonse";
      const ville="Lomé";
      const age=12;
      //let - valeur qui peut changer
      let score =0;
      score = score+ 10;
      score =score+ 5;
      //afficher avec template literal
        console.log (`je m'appelle ${nom}`);
        console.log (`je vis a  ${ville}`);
        console.log (`mon score est ${score}`) ;
        </script>
    </body>
</html>