<!DOCTYPE html>
<html lang="fr">
    <head>
        <mete charset="UTF-8">
<title>mon premier javascript</title>

        
    </head>
    <body>
    <h1>bonjour javascript!</h1>
    <script>
        console.log("je suis alphonse !")
        alert("bienvenue dans javascript !");
        console.log(2+4);
        console.log(10*5);
        console.log(20/4);
        console.log("mon NOM c'est abafoum alphonse");
        console.log("je code depuit Lomé, TOGO");
        console.log(2026 - 2006);
        console.log("je serai developpeur en " + 2028);
        
</script>
</body>
</html>


